@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --background-color: #001429;
  --primary-color: #4bd3eb;
  --text-color: #FFFFFF;
  --red-color: #ff0000;
  --blue-color: #0000ff;
  --yellow-color: #ffcc00;
}