
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background-color: #001429;
  --background2-color: #002533;
  --background3-color: #002533;
  --primary-color: #4bd3eb;
  --text-color: #FFFFFF;
  --red-color: #ff0000;
  --blue-color: #0000ff;
  --yellow-color: #ffcc00;
}

.grid-item-style {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}